DEFAULT demohost12

LABEL demohost12
   MENU LABEL Debian 12 (amd64) + preseed demohost
   kernel ::/d-i/n-pkg/images/12/amd64/text/debian-installer/amd64/linux
   append initrd=::/d-i/n-pkg/images/12/amd64/text/debian-installer/amd64/initrd.gz hostname=demohost12 interface=auto auto=true priority=critical url=tftp://{{ ansible_hostname }} playbook=demohost.yml ---
